<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory="coverage" />
      <clover outputFile="coverage/clover.xml"/>
    </report>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <testsuites>
    <testsuite name="Features">
      <directory>tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
